@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 50px;
      }
      
      /* For Firefox */
      * {
        scrollbar-width: thin;
        scrollbar-color: darkgrey slategrey;
      }
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.my-slick-prev:before, .my-slick-next:before, .my-slick-prev, .my-slick-next{
  font-size: 80px!important;
}